<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @model Candidato

<h2>Agregar Candidato</h2>

@using (Html.BeginForm("GuardarCandidato", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.idPartido)
        @Html.TextBoxFor(model => model.idPartido, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Apellido)
        @Html.TextBoxFor(model => model.Apellido, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FechaNacimiento)
        @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "form-control", type = "date" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Foto)
        @Html.TextBoxFor(model => model.Foto, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Postulacion)
        @Html.TextBoxFor(model => model.Postulacion, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
}

</body>
</html>