<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Detalle del Partido</h1>

<div class="Partido">
    <img src="@ViewBag.Partido.Logo" class="card-img-top" alt="@ViewBag.Partido.Nombre">
    <div class="card-body">
        <h5 class="card-title">@ViewBag.Partido.Nombre</h5>
        <p class="card-text">Fecha de Fundación: @ViewBag.Partido.FechaFundacion.ToShortDateString()</p>
        <p class="card-text">Cantidad de Diputados: @ViewBag.Partido.CantidadDiputados</p>
        <p class="card-text">Cantidad de Senadores: @ViewBag.Partido.CantidadSenadores</p>
    </div>
</div>

<h2>Candidatos</h2>

<div class="Candidato">
    @foreach (var candidato in ViewBag.Candidatos)
    {
        <img src="@candidato.Foto" alt="@candidato.Nombre">
        <h5>@candidato.Nombre</h5>
        <p>@candidato.Postulacion</p>
        <button class="enviar" type="submit"><a href='@Url.Action("VerDetalleCandidato", new { idCandidato = candidato.IdCandidato })'>Ver Detalle</a></button>
        
    }
</div>
<br>
<button class="enviar" type="submit"><a href='@Url.Action("AgregarCandidato", new { idPartido = ViewBag.Partido.IdPartido })'>Agregar Candidato</a></button>
</body>
</html>